﻿@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        // Notifies successful ajax operation
        function ajaxSuccess (msg) {
            var message = String(msg);
            if (message.substring(message.length-1) == "#")
                $("#msg").html("WebAPI error: " + message).attr("class", "alert-danger");
            else
                $("#msg").html(message).attr("class", "alert-success");
        }

        /// Notifies failed ajax operation
        function ajaxError (rqst, stat, err) {
            $("#msg").html("WebAPI error: " + stat).attr("class", "alert-danger");
        }

        var movieAjaxSuccess = function (msg) {
            importMovieId();
            ajaxSuccess(msg);
        }

        var movieAjaxError = function (rqst, stat, err) {
            importMovieId();
            ajaxError(rqst, stat, err);
        }

        var cineplexAjaxSuccess = function (msg) {
            importCineplexId();
            ajaxSuccess(msg);
        }

        var cineplexAjaxError = function (rqst, stat, err) {
            importCineplexId();
            ajaxError(rqst, stat, err);
        }

        // Import movie ids into drop down
        function importMovieId () {
            var options = {};
            options.url = "https://localhost:44300/api/Movie";
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                $("#movieId").empty();
                data.forEach(function (element) {
                    $("#movieId").append("<option>"
                    + element.movieId + "</option>");
                });
                importMovieDetail();
            };
            options.error = movieAjaxError;
            $.ajax(options);
        }

        // Import cineplex ids into drop down
        function importCineplexId () {
            var options = {};
            options.url = "https://localhost:44300/api/Cineplex";
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                $("#cineplexId").empty();
                data.forEach(function (element) {
                    $("#cineplexId").append("<option>"
                    + element.cineplexId + "</option>");
                });
                importCineplexDetail();
            };
            options.error = cineplexAjaxError;
            $.ajax(options);

        }

        // Import movie details for movie id
        var importMovieDetail = function () {
            var options = {};
            options.url = "https://localhost:44300/api/Movie/" +
                           $("#movieId").val();
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                $("#movieTitle").val(data.title);
                $("#movieShortDescription").val(data.shortDescription);
                $("#movieLongDescription").val(data.longDescription);
                $("#movieImage").attr("src", data.imageUrl);
                $("#movieImageURL").val(data.imageUrl);
                $("#fullPrice").val(data.fullPrice);
                $("#concessionPrice").val(data.concessionPrice);
                $("#cineplexList").empty();
                data.cineplexId.forEach(function (element) {
                    $("#cineplexList").append(
                        "<li class=\"list-group-item\">" +
                        element.relativeId + " : " +
                        element.startingTime + " - " +
                        element.endingTime + "</li>");

                });
            };
            options.error = movieAjaxError;
            $.ajax(options);
        }

        // Import cinplex details for cineplex id
        var importCineplexDetail = function () {
            var options = {};
            options.url = "https://localhost:44300/api/Cineplex/" +
                           $("#cineplexId").val();
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                $("#cineplexName").val(data.name);
                $("#cineplexShortDescription").val(data.shortDescription);
                $("#cineplexLongDescription").val(data.longDescription);
                $("#cineplexImage").attr("src", data.imageUrl);
                $("#cineplexImageURL").val(data.imageUrl);
                $("#location").val(data.location);
                $("#moviesList").empty();
                data.movieId.forEach(function (element) {
                    $("#moviesList").append(
                        "<li class=\"list-group-item\">" +
                        element.relativeId + " : " +
                        element.startingTime + " - " +
                        element.endingTime + "</li>");

                });
            };
            options.error = cineplexAjaxError;
            $.ajax(options);
        }

        // Add new movie
        var addMovie = function () {
            var options = {};
            options.url = "https://localhost:44300/api/Movie/";
            options.type = "POST";

            var obj = {};
            obj.title = $("#movieTitle").val();
            obj.shortDescription = $("#movieShortDescription").val();
            obj.longDescription = $("#movieLongDescription").val();
            obj.imageUrl = $("#movieImageURL").val();
            obj.fullPrice = $("#fullPrice").val();
            obj.concessionPrice = $("#concessionPrice").val();

            options.data = JSON.stringify(obj);
            options.contentType = "application/json";
            options.dataType = "html";
            options.success = movieAjaxSuccess;

            if (confirm("Are you sure you want to add \"" + $("#movieTitle").val() + "\"?"))
                $.ajax(options);
        }

        // Add new cineplex
        var addCineplex = function () {
            var options = {};
            options.url = "https://localhost:44300/api/Cineplex/";
            options.type = "POST";

            var obj = {};
            obj.name = $("#cineplexName").val();
            obj.shortDescription = $("#cineplexShortDescription").val();
            obj.longDescription = $("#cineplexLongDescription").val();
            obj.imageUrl = $("#cineplexImageURL").val();
            obj.location = $("#location").val();

            options.data = JSON.stringify(obj);
            options.contentType = "application/json";
            options.dataType = "html";
            options.success = cineplexAjaxSuccess;

            if (confirm("Are you sure you want to add \"" + $("#cineplexName").val() + "\"?"))
                $.ajax(options);
        }

        // Edit existing movie
        var editMovie = function () {
            var options = {};
            options.url = "https://localhost:44300/api/Movie/"
                          + $("#movieId").val();
            options.type = "PUT";

            var obj = {};
            obj.movieId = $("#movieId").val();
            obj.title = $("#movieTitle").val();
            obj.shortDescription = $("#movieShortDescription").val();
            obj.longDescription = $("#movieLongDescription").val();
            obj.imageUrl = $("#movieImageURL").val();
            obj.fullPrice = $("#fullPrice").val();
            obj.concessionPrice = $("#concessionPrice").val();

            options.data = JSON.stringify(obj);
            options.contentType = "application/json";
            options.dataType = "html";
            options.success = movieAjaxSuccess;
            options.error = movieAjaxError;

            if (confirm("Are you sure you want to edit \"" + $("#movieTitle").val() + "\"?"))
                $.ajax(options);
        }

        // Edit existing cineplex
        var editCineplex = function () {
            var options = {};
            options.url = "https://localhost:44300/api/Cineplex/"
                          + $("#cineplexId").val();
            options.type = "PUT";

            var obj = {};
            obj.cineplexId = $("#cineplexId").val();
            obj.name = $("#cineplexName").val();
            obj.shortDescription = $("#cineplexShortDescription").val();
            obj.longDescription = $("#cineplexLongDescription").val();
            obj.imageUrl = $("#cineplexImageURL").val();
            obj.location = $("#location").val();

            options.data = JSON.stringify(obj);
            options.contentType = "application/json";
            options.dataType = "html";
            options.success = cineplexAjaxSuccess;
            options.error = cineplexAjaxError;

            if (confirm("Are you sure you want to eidt \"" + $("#cineplexName").val() + "\"?"))
                $.ajax(options);
        }

        // Delete existing movie
        var deleteMovie = function () {
            var options = {};
            options.url = "https://localhost:44300/api/Movie/"
                          + $("#movieId").val();
            options.type = "DELETE";
            options.dataType = "html";
            options.success = movieAjaxSuccess;
            options.error = movieAjaxError;

            if (confirm("Are you sure you want to delete \"" + $("#movieTitle").val() + "\"?"))
                $.ajax(options);
        }

        // Delete existing cineplex
        var deleteCineplex = function () {
            var options = {};
            options.url = "https://localhost:44300/api/Cineplex/"
                          + $("#cineplexId").val();
            options.type = "DELETE";
            options.dataType = "html";
            options.success = cineplexAjaxSuccess;
            options.error = cineplexAjaxError;

            if (confirm("Are you sure you want to delete \"" + $("#cineplexName").val() + "\"?"))
                $.ajax(options);
        }

        $(document).ready(function () {
            importMovieId();
            importCineplexId();

            $("#movieId").change(importMovieDetail);

            $("#movieInsert").click(addMovie);

            $("#movieUpdate").click(editMovie);

            $("#movieDelete").click(deleteMovie);

            $("#cineplexId").change(importCineplexDetail);

            $("#cineplexInsert").click(addCineplex);

            $("#cineplexUpdate").click(editCineplex);

            $("#cineplexDelete").click(deleteCineplex);
        });

    </script>
</head>
<body>
    <h2 style="width:100%">WebAPI Client</h2>
    <p>ABC Cineplex Corp. provides API access to our libary of movies, cineplexs, and show times.</p>
    <p>Below is a demonstration of access to /api/Movie and /api/Cineplex</p>
    <hr />
    <div style="float:left; width:50%">
        <h3>Movie Manager</h3>
        <div>
            <form>
                <div class="api-client-form-section">
                    Movie ID:
                    <select id="movieId" class="form-control" ></select>
                    <p class="text-info">OR for a new entry start entering data and click insert</p>
                </div>
                <div class="api-client-form-section">
                    Movie title:
                    <input id="movieTitle" class="form-control" type="text" />
                </div>
                <div class="api-client-form-section">
                    Short description:
                    <textarea id="movieShortDescription" class="form-control"></textarea>
                </div>
                <div class="api-client-form-section">
                    Long description:
                    <textarea id="movieLongDescription" class="form-control"></textarea>
                </div>
                <div class="api-client-form-section">
                    Image:
                    <div><img id="movieImage" src="" style="height:200px" /></div>
                </div>
                <div class="api-client-form-section">
                    Image URL:
                    <input id="movieImageURL" type="text" class="form-control"/>
                    <p class="text-info">Use /Images/default_movie_image.png for placeholder</p>
                </div>
                <div class="api-client-form-section">
                    Full price:
                    <input id="fullPrice" type="number" class="form-control" />
                </div>
                <div class="api-client-form-section">
                    Concession price:
                    <input id="concessionPrice" type="number" class="form-control"/>
                </div>
                <div class="api-client-form-section">
                    Showing at cinemas (Cineplex ID : Starting time - Ending time):
                    <ul id="cineplexList" class="list-group"></ul>
                </div>
                <div style="padding:10px">
                    <input type="button" id="movieInsert"
                           value="Insert" class="btn btn-default"/>
                    <input type="button" id="movieUpdate"
                           value="Update" class="btn btn-default"/>
                    <input type="button" id="movieDelete"
                           value="Delete" class="btn btn-default"/>
                </div>
            </form>
        </div>
    </div>

    <div style="float:left; width:50%">
        <h3>Cineplex Manager</h3>
        <div>
            <form>
                <div style="padding:10px">
                    Cineplex ID:
                    <select id="cineplexId" class="form-control"></select>
                    <p class="text-info">OR for a new entry start entering data and click insert</p>
                </div>
                <div style="padding:10px">
                    Cineplex name:
                    <input id="cineplexName" type="text" class="form-control"/>
                </div>
                <div style="padding:10px">
                    Short description:
                    <textarea id="cineplexShortDescription" class="form-control"></textarea>
                </div>
                <div style="padding:10px">
                    Long description:
                    <textarea id="cineplexLongDescription" class="form-control"></textarea>
                </div>
                <div style="padding:10px">
                    Image:
                    <div><img id="cineplexImage" src="" style="height:150px" /></div>
                </div>
                <div style="padding:10px">
                    Image URL:
                    <input id="cineplexImageURL" type="text" class="form-control"/>
                    <p class="text-info">Use /Images/default_cinema_image.png for placeholder</p>
                </div>
                <div style="padding:10px">
                    Location:
                    <input id="location" type="text" class="form-control"/>
                </div>
                <div class="api-client-form-section">
                    Showing movies (Movie ID : Starting time - Ending time):
                    <ul id="moviesList" class="list-group"></ul>
                </div>
                <div style="padding:10px">
                    <input type="button" id="cineplexInsert"
                           value="Insert" class="btn btn-default" />
                    <input type="button" id="cineplexUpdate"
                           value="Update" class="btn btn-default"/>
                    <input type="button" id="cineplexDelete"
                           value="Delete" class="btn btn-default"/>
                </div>
            </form>
        </div>
    </div>

    <!--
    <div style="float:left; width:33%">
        <h3>Session Manager</h3>
        <div>
            <form>
                <div style="padding:10px">
                    Cineplex ID:
                    <select id="sessionCineplexId"></select>
                </div>
                <div style="padding:10px">
                    Cineplex name:
                    <input id="sessionCineplexName" type="text" />
                </div>
                <div style="padding:10px">
                    Short description:
                    <textarea id="cineplexShortDescription"></textarea>
                </div>
                <div style="padding:10px">
                    Long description:
                    <textarea id="cineplexLongDescription"></textarea>
                </div>
                <div style="padding:10px">
                    Image:
                    <img id="cineplexImage" src="" style="height:150px" />
                </div>
                <div style="padding:10px">
                    Image URL:
                    <input id="cineplexImageURL" type="text" />
                </div>
                <div style="padding:10px">
                    Location:
                    <input id="location" type="text" />
                </div>
                <div style="padding:10px">
                    <input type="button" id="cineplexInsert"
                           value="Insert" />
                    <input type="button" id="cineplexUpdate"
                           value="Update" />
                    <input type="button" id="cinplexDelete"
                           value="Delete" />
                </div>
            </form>
        </div>
    </div>
    -->
    <div style="clear:both"></div>
    <div id="msg" class="alert-danger" style="text-align:center"></div>
</body>
</html>