﻿@model List<Booking>

@{
    ViewData["Title"] = "Check out";
    decimal totalPrice = 0.00m;
    foreach (Booking booking in Model) {
        totalPrice += booking.FullPriceTickets * booking.Movie.FullPrice + booking.ConcessionTickets * booking.Movie.ConcessionPrice;

    }
}
<script>
    function submitValidate() {
        var cardOK = validateCard();
        var dateOK = validateExpiry();
        return cardOK && dateOK;
    }

    function validateCard() {
        // Use jquery's credit card validation
        var result = $("#credit-card-input").validateCreditCard();
        if (result.valid) {
            $("#credit-card-danger").text("");
            return true;
        } else {
            $("#credit-card-danger").text("Not a valid credit card");
            return false;
        }
    }

    function validateExpiry() {
        // Regex for MM/YY
        var regex = RegExp(/^((0[1-9])|(1[1-2]))\/(\d{2,2})$/);
        var input = $("#expiry-date-input").val();
        if (!regex.exec(input)) {
            $("#expiry-date-danger").text("Not a valid date");
            return false;
        }
        var month = input.substring(0,2);
        var year = input.substring(3,5);
        var date = new Date();
        // Check year
        if (parseInt(year) < parseInt(date.getFullYear().toString().substring(2))) {
            $("#expiry-date-danger").text("Not a valid date");
            return false;
        }
        // Check month
        else if (parseInt(month) < date.getMonth() + 1) {
            $("#expiry-date-danger").text("Not a valid date");
            return false;
        }

        $("#expiry-date-danger").text("");
        return true;
    }

</script>

<h2>Checkout</h2>

<div>
    <form id="payment-form" asp-action="CompleteTransaction" method="post" onsubmit="return submitValidate()">
        <div style="clear:both">
            <p>Credit card number</p>
            <input id="credit-card-input" name="field" type="text" 
                   onchange="validateCard()" size="21" value="4111 1111 1111 1111" class="form-control" style="float:left" />
            <div id="credit-card-danger" class="alert-danger" style="float:left"></div>
        </div>
        <div style="clear:both">
            <p>Expiry date</p>
            <input id="expiry-date-input" type="text" 
                   onchange="validateExpiry()" size="5" value="12/17" class="form-control" style="float:left"/>
            <div id="expiry-date-danger" class="alert-danger" style="float:left"></div>
        </div>
        <div style="clear:both; padding-top:20px">
            <button type="submit" class="btn btn-default">Pay</button>
            $ @totalPrice
        </div>
    </form>
    <div style="clear:both"></div>
</div>