﻿@model WebTechAssignment2.Models.Booking

@{
    ViewData["Title"] = "Booking complete";
}

<h2>Booking successful</h2>

<a asp-action="Index" asp-controller="Movies" class="btn btn-default">Back to movies</a>
<a asp-action="ViewBooking" class="btn btn-default" style="float:right">Go to cart</a>

<hr />

<div class="row">
    <div class="col-md-3">
        <h3>Movie</h3>
        <img src="@Url.Content(Model.Movie.ImageUrl)" style="width: 100%; height: 100%; object-fit:contain" />
        <p><b>@Model.Movie.Title</b></p>
        <p>@Model.Movie.ShortDescription</p>
    </div>
    <div class="col-md-3">
        <h3>Theatre</h3>
        <img src="@Url.Content(Model.Cineplex.ImageUrl)" style="width: 100%; height: 100%; object-fit:contain" />
        <p><b>@Model.Cineplex.Name</b></p>
        <p>@Model.Cineplex.Location</p>
    </div>
    <div class="col-md-3">
        <h3>Session</h3>
        <p><b>@Model.Session.StartingTime - @Model.Session.EndingTime</b></p>
    </div>
    <div class="col-md-3">
        <h3>Booking</h3>
        <p>Booked for <b>@Array.FindAll(Model.Seats.Split(','), x => x == "1").Length</b> seats</p>

        <p>Full price tickets: $@Model.Movie.FullPrice * @Model.FullPriceTickets </p>
        <p>Concession tickets: $@Model.Movie.ConcessionPrice * @Model.ConcessionTickets</p>
        @{decimal totalPrice = Model.FullPriceTickets * Model.Movie.FullPrice + Model.ConcessionTickets * Model.Movie.ConcessionPrice; }
        <p>Sub total: <b>$@totalPrice</b></p>
    </div>
</div>

