﻿@model List<Booking>

@{
    ViewData["Title"] = "Transaction summary";
    decimal totalPrice = 0.00m;
    foreach (Booking booking in Model) {
        totalPrice += booking.FullPriceTickets * booking.Movie.FullPrice + booking.ConcessionTickets * booking.Movie.ConcessionPrice;

    }
}

<h2>Transaction summary</h2>
<hr />
<div>
    @if (Model == null || Model.Count == 0) {

        <h3>Transaction failed</h3>

    } else {

        <h3 style="float:left">Transaction complete</h3>

        <div style="float:right">
            <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-default">Log off</button>
            </form>
        </div>

        <div style="clear:both"></div>

        <div style="float:left">
            <b>@Model.Count</b> booking(s).
        </div>
        <div style="float:right">
            Total price: <b>@totalPrice</b>
        </div>
        
        <div style="clear:both"></div>
        <hr />

        foreach (Booking booking in Model) {
            <div>
                <div style="float:left; width:33%">
                    <b>@booking.Movie.Title</b> at <b>@booking.Cineplex.Name</b> for <p><b>@booking.Session.StartingTime - @booking.Session.EndingTime</b></p>
                </div>
                <div style="float:left; width:33%; padding-right: 10px; padding-left: 10px">
                    <b>Seats: </b>
                    @{ 
                        string[] bookedSeats = booking.Seats.Split(',');
                        string seatCodes = "";
                        for (int y = 0, s = 0; y < 4; y++) {
                            for (int x = 0; x < 5; x++, s++) {
                                if (bookedSeats[s] == "1") {
                                    char row = (char)(y + 65); // unicode -> char: 0 -> A, 1 -> B etc.
                                    seatCodes += row.ToString() + (x + 1).ToString() + ", ";
                                }
                            }
                        }
                    }
                    @seatCodes
                </div>
                <div style="float:right; width:33%">

                    <p>Full price tickets: $@booking.Movie.FullPrice * @booking.FullPriceTickets</p>
                    <p>Concession tickets: $@booking.Movie.ConcessionPrice * @booking.ConcessionTickets</p>
                    @{decimal subPrice = booking.FullPriceTickets * booking.Movie.FullPrice + booking.ConcessionTickets * booking.Movie.ConcessionPrice; }
                    <p>Sub total: <b>$@subPrice</b></p>
                </div>
            </div>
            <hr style="clear:both" />
        }
    }
</div>

<div style="clear:both"></div>
