@model Tuple<Booking, CineplexMovie>

@{
    ViewData["Title"] = "Creating a booking";
    Booking booking = Model.Item1;
    CineplexMovie movie = Model.Item2;
}

<script>
    function limitFullTicketCount() {
        if (parseInt($("#full-price-count").val()) < 0) {
            $("#full-price-count").val("0");
        }
        if (parseInt($("#full-price-count").val()) > 20) {
            $("#full-price-count").val("20");
        }
    }

    function limitConTicketCount() {
        if (parseInt($("#concession-count").val()) < 0) {
            $("#concession-count").val("0");
        }
        if (parseInt($("#concession-count").val()) > 20) {
            $("#concession-count").val("20");
        }
    }

    function validate(event) {
        parseSeat();
        return checkSeatCount()
    }

    // Counts the amount of selected seats
    function checkSeatCount() {
        var actualCount = 0;
        for (var s = 0; ; s++) {
            if ($("#seat-" + s).length == 0)
                break;
            if ($("#seat-" + s).prop("checked"))
                actualCount++;
        }

        if (actualCount == 0) {
            $("#seat-count-danger").text("Please select at least 1 seat.");
            return false;
        }

        var requiredCount = parseInt($("#full-price-count").val()) + parseInt($("#concession-count").val());

        // Display danger text and return false if not enough seats
        if (actualCount < requiredCount) {
            $("#seat-count-danger").text("Please select " + (requiredCount - actualCount) + " more seats.");
            return false;
        }

        // Display warning text and return false if too many seats
        if (actualCount > requiredCount) {
            $("#seat-count-danger").text("Please select " + (actualCount - requiredCount) + " more tickets.");
            return false;
        }

        $("#seat-count-danger").text("");
        return true;
    }

    // Parses the seat selection checkbox values into a string
    function parseSeat() {
        var seated = [];

        for (var s = 0; ; s++) {
            if ($("#seat-" + s).length == 0)
                break;
            if ($("#seat-" + s).prop("checked"))
                seated.push(1);
            else
                seated.push(0);
        }
        // Assign string to form 
        $('#booking-seats').val(seated.join());
    }
</script>

<h2>Creating a booking</h2>


<div class="row">
    <div class="col-md-3">
        <h3>Movie</h3>
        <img src="@Url.Content(movie.Movie.ImageUrl)" style="width: 100%; height: 100%; object-fit:contain"/>
        <p><b>@movie.Movie.Title</b></p>
        <p>@movie.Movie.ShortDescription</p>
    </div>
    <div class="col-md-3">
        <h3>Theatre</h3>
        <img src="@Url.Content(movie.Cineplex.ImageUrl)" style="width: 100%; height: 100%; object-fit:contain" />
        <p><b>@movie.Cineplex.Name</b></p>
        <p>@movie.Cineplex.Location</p>
    </div>
    <div class="col-md-3">
        <h3>Session</h3>
        <p><b>@movie.Session.StartingTime - @movie.Session.EndingTime</b></p>
    </div>
    <div class="col-md-3">
        <h3>Booking</h3>
        <form asp-action="CompleteBooking" method="post" onsubmit="return validate()">
            <input type="hidden" name="movieId" value="@movie.MovieId" />
            <input type="hidden" name="cineplexId" value="@movie.CineplexId" />
            <input type="hidden" name="sessionId" value="@movie.SessionId" />
            <input type="hidden" name="seats" value="@movie.Seats" id="booking-seats" />
            @{
                string[] occupiedSeats = movie.Seats.Split(',');
                string[] bookedSeats = booking.Seats.Split(',');
                int occupiedCount = Array.FindAll(occupiedSeats, s => s == "1").Count();
                if (occupiedCount == 20) {
                    <h4>Sorry, this session has been fully booked!</h4>

                } else { 
                <h4>Select your tickets</h4>
                <div>Full price tickets</div>
                <input id="full-price-count" name="fullPriceTickets"  class="form-control" type="number" 
                       value="@booking.FullPriceTickets" oninput="limitFullTicketCount()"/>
                <div>Concesssion price tickets</div>
                <input id="concession-count" name="concessionPriceTickets" class="form-control" type="number" 
                       value="@booking.ConcessionTickets" oninput="limitConTicketCount()" />
                       
                <h4>Choose your seats</h4>

                <div style="margin-right:50%">
                    <p style="text-align:center">Screen</p>
                    @for (int y = 0, s = 0; y < 4; y++) {
                        <div style="padding-top:10px; padding-bottom:10px">
                            @for (int x = 0; x < 5; x++, s++) {
                                <div style="float:left; width:20%; text-align:center">
                                    @if (occupiedSeats[s] == "1") {
                                        <input type="checkbox" class="checkbox-seat" id="seat-@s" disabled />
                                    } else if (bookedSeats[s] == "1") {
                                        <input type="checkbox" class="checkbox-seat" id="seat-@s" checked />
                                    } else {
                                        <input type="checkbox" class="checkbox-seat" id="seat-@s" />
                                    }
                                </div>
                            }
                        </div>
                        <div style="clear:both"></div>
                    }
                </div>

                <div style="padding-top:15px">
                    @if (Array.Exists(bookedSeats, x => x == "1")) {
                    <button type="submit" class="btn btn-default">Update booking</button>
                    } else {
                    <button type="submit" class="btn btn-default">Create booking</button>

                    }
                </div>

                <div id="seat-count-danger" class="alert-danger"></div>
                }
            }
        </form>
    </div>
</div>