﻿@model List<Booking>

@{
    ViewData["Title"] = "View Bookings";
    decimal totalPrice = 0.00m;
    foreach (Booking booking in Model) {
        totalPrice += booking.FullPriceTickets * booking.Movie.FullPrice + booking.ConcessionTickets * booking.Movie.ConcessionPrice;

    }
}

<h2>Current Bookings</h2>
<hr />
<div>
    @if (Model.Count == 0) {

        <p>Your cart is empty.</p>

    } else {
        <div style="float:left">
            <b>@Model.Count</b> booking(s).
        </div>
        <div style="float:right">
            Total price: <b>@totalPrice</b>
            <a asp-action="Checkout" asp-route-totalPrice="@totalPrice" class="btn btn-default">Checkout</a>
        </div>
        <div style="clear:both"></div>
        <hr />

        foreach (Booking booking in Model) {
            <div class="row">
                <div class="col-md-3">
                    <h3>Movie</h3>
                    <img src="@Url.Content(booking.Movie.ImageUrl)" style="width: 100%; height: 100%; object-fit:contain" />
                    <p><b>@booking.Movie.Title</b></p>
                    <p>@booking.Movie.ShortDescription</p>
                </div>
                <div class="col-md-3">
                    <h3>Theatre</h3>
                    <img src="@Url.Content(booking.Cineplex.ImageUrl)" style="width: 100%; height: 100%; object-fit:contain" />
                    <p><b>@booking.Cineplex.Name</b></p>
                    <p>@booking.Cineplex.Location</p>
                </div>
                <div class="col-md-3">
                    <h3>Session</h3>
                    <p><b>@booking.Session.StartingTime - @booking.Session.EndingTime</b></p>
                </div>
                <div class="col-md-3">
                    <h3>Booking</h3>
                    <p>Booked for <b>@Array.FindAll(booking.Seats.Split(','), x => x == "1").Length</b> seats</p>
                    <p>Full price tickets: $@booking.Movie.FullPrice * @booking.FullPriceTickets</p>
                    <p>Concession tickets: $@booking.Movie.ConcessionPrice * @booking.ConcessionTickets</p>
                    @{decimal subPrice = booking.FullPriceTickets * booking.Movie.FullPrice + booking.ConcessionTickets * booking.Movie.ConcessionPrice; }
                    <p>Sub total: <b>$@subPrice</b></p>
                    <a asp-action="CreateBooking" asp-controller="Cart"
                       asp-route-movieId="@booking.MovieId"
                       asp-route-cineplexId="@booking.CineplexId"
                       asp-route-sessionId="@booking.SessionId">
                        <input class="btn" type="button" value="Modify Booking" />
                    </a>
                    <a asp-action="CompleteBooking" asp-controller="Cart"
                       asp-route-movieId="@booking.MovieId"
                       asp-route-cineplexId="@booking.CineplexId"
                       asp-route-sessionId="@booking.SessionId"
                       asp-route-seats="delete"
                       asp-route-fullPriceTickets="0"
                       asp-route-concessionPriceTickets="0">
                        <input class="btn" type="button" value="Delete Booking" />
                    </a>
                </div>
                
            </div>
            <hr style="clear:both" />
        }
    }
</div>
