﻿@model List<Movie>

@{
    ViewData["Title"] = "Home Page";
    List<string> cineplex = (List<string>)ViewData["Cineplex"];
    bool first = true;
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox" style="height:100%" >
        @foreach (Movie movie in Model) {
            <div class="item @if (first) { <text>active</text> first=false;} ">
                <div style="margin-left:15%; margin-right:15%; width:70%">
                    <div style="float:left; width:25%"><img src="@movie.ImageUrl" style="height:100%; max-width:100%" /></div>
                    <div style="width:50%; padding-top:20px; float:left">
                        <h3>@movie.Title</h3>
                        <p>@movie.ShortDescription</p>
                    </div>
                    <div style="width:25%; float:left; padding-top:30px">
                        <a asp-action="MovieDetail"
                           asp-controller="Movies"
                           asp-route-movieID="@movie.MovieId"
                           class="btn btn-default btn-lg" style="color:darkred">Currently showing</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" style="color:maroon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" style="color:maroon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <h1>Welcome to ABC Cineplex Corp.</h1>
    <p>Look no further for your next luxurious theatre experience, here at ABC Cineplex, we provide unmatched facilities and services for the cinema go-er that's looking for something extraordinary.</p>
    <p>
        Take a seat at one of our Movie Plaza Theatres located in 
        @for (int i = 0; i < cineplex.Count; i++) {
            <text>@cineplex[i]</text>
            @if (i < cineplex.Count - 2) {
                <text>, </text>
            }
            @if (i == cineplex.Count - 2) {
                <text> and </text>
            }
        }
    </p>

    <hr />
    <h2>For Web Development Technologies Assignment 2</h2>
    <a asp-action="Readme" class="btn btn-default">README</a>
</div>
