﻿@{
    ViewData["Title"] = "README";
}
<h2>README</h2>

<h3>Information for Web Development Technologies Assignment 2</h3>

<p><b>Yusheng Shu s3429221</b></p>

<hr />

<h4>Bookings</h4>
<p>When a booking is made the booking is added to the database, and all booked seats are updated as occupied for the specific movie. This is reflectd when subsequent users try to book for the same movie.</p>

<h4>Web server</h4>
<p>This project uses IIS web server for hosting</p>

<h4>WebAPI</h4>
<p>
    This project contains WebAPI access via "/api". Currently there are two APIs, one for movie data, one for Cineplex data, at <a href="/api/Movie">"/api/Movie"</a> and <a href="/api/Cineplex">"/api/Cineplex"</a> respectively. 
    A demo client is available at <a href="/APIClient">"/APIClient"</a>.
</p>
<p>Both APIs provide all data for themselves, plus a list of ids for either the Cinplexs' showing the movie, or vise versa, the movies showing at the Cineplex</p>

<h4>Database</h4>
<p>This project uses a database first approach, however User Identity and Google Authentication has required additional tables, these tables have been generated and added automaticly by the project. They are the following:</p>
<ul>
    <li>__EFMigrationsHistory</li>
    <li>AspNetRoleClaims</li>
    <li>AspNetUserClaims</li>
    <li>AspNetUserLogins</li>
    <li>AspNetUserRoles</li>
    <li>AspNetUsers</li>
    <li>AspNetUserTokens</li>
</ul>
<p>Otherwise, the following are tables used for ABC Cineplex Corp., they are based on the original provided template:</p>
<ul>
    <li>Booking</li>
    <li>Cineplex</li>
    <li>CineplexMovie</li>
    <li>Enquiry</li>
    <li>Movie</li>
    <li>MovieComingSoon</li>
    <li>Session</li>
</ul>
<p>Import Cineplex.sql into "(localdb)\\mssqllocaldb" (default sql server) before running.</p>
<p>To change the SQL server connection string, change [ConnectionStrings:DefaultConnection] in appsettings.json, by default, SQL server "(localdb)\\mssqllocaldb" with a databse "Cineplex" is used.</p>

<h4>SSL certificate</h4>
<p>This project uses SSL connections, as required by Google Authentication. This means a self-signed certificate is required. Both the website and WebAPI run on SSL.</p>
