@model WebTechAssignment2.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CineplexId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CineplexId" class ="form-control" asp-items="ViewBag.CineplexId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MovieId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MovieId" class ="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Seats" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SessionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SessionId" class ="form-control" asp-items="ViewBag.SessionId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
