@model WebTechAssignment2.Models.MoviesViewModels.AllMovies

@{
    ViewData["Title"] = "Movies";
    if ((string)ViewData["searchString"] == "") {
        ViewData["searchStringText"] = "Search by movie or cineplex";
        ViewData["releasedResultTitle"] = "Currently showing movies";
        ViewData["upcomingResultTitle"] = "Upcoming movies";
    } else {
        ViewData["searchStringText"] = ViewData["searchString"];
        ViewData["releasedResultTitle"] = "Currently showing movies related to \"" + (string)ViewData["searchString"] + "\"";
        ViewData["upcomingResultTitle"] = "Upcoming movies related to \"" + (string)ViewData["searchString"] + "\"";
    }
}

<h2>Movies</h2>

<form asp-action="Index" method="get">
    <div>
        <input type="search" name="searchString" value="@ViewData["searchStringText"]" size="40" class="form-control" style="float:left"/>
        <input type="submit" value="Go" class="btn btn-default"/>
    </div>
</form>

<h3>@ViewData["releasedResultTitle"]</h3>
<hr />
<div>
    @foreach (KeyValuePair<Movie, List<Cineplex>> cineplexByMovie in Model.Released) {
        <div class="movie-div">
            <div class="movie-image-div">
                <img src="@Url.Content(cineplexByMovie.Key.ImageUrl)" class="movie-image" />
            </div>
            <div class="movie-desc-div-short">
                <div class="movie-desc"><h3>@cineplexByMovie.Key.Title</h3></div>
                <hr />
                <div class="movie-desc">@cineplexByMovie.Key.ShortDescription</div>
            </div>
            <div class="movie-price-div">
                <a asp-action="MovieDetail"
                   asp-route-movieID="@cineplexByMovie.Key.MovieId"
                   class="btn btn-default">View Details</a>
                <h4>Showing at</h4>
                <ul>
                    @foreach (Cineplex cineplex in cineplexByMovie.Value) {
                        <li>@cineplex.Location</li>
                    }
                </ul>
                
            </div>
        </div>
        <hr style="clear:both" />
    }
</div>

<h3>@ViewData["upcomingResultTitle"]</h3>
<hr />
<div>
    @foreach (MovieComingSoon movie in Model.Upcoming) {
        <div class="movie-div">
            <div class="movie-image-div">
                <img src="@Url.Content(movie.ImageUrl)" class="movie-image" />
            </div>
            <div class="movie-desc-div-short">
                <div class="movie-desc"><h3>@movie.Title</h3></div>
                <hr />
                <div class="movie-desc">@movie.ShortDescription</div>
            </div>
            <div class="movie-price-div">
                <a asp-action="UpcomingMovieDetail"
                   asp-route-movieID="@movie.MovieComingSoonId"
                   class="btn btn-default">View Details</a>
            </div>
        </div>
        <hr style="clear:both" />
    }
</div>

<div style="clear:both"></div>