﻿@model WebTechAssignment2.Models.MovieCineplexSession

@{
    ViewData["Title"] = Model.Movie.Title;
}

<h2>@Html.DisplayFor(x => x.Movie.Title)</h2>

<a asp-action="Index" class="btn btn-default">Back to movies</a>
<hr />
<div style="height:100%">
    <div style="width:20%; height:100%; float:left">
        <img src="@Url.Content(Model.Movie.ImageUrl)" style="width:100%; padding-right:10px" />
    </div>
    <div style="width:80%; margin-left:20%">
        <p><h3>@Model.Movie.Title</h3></p>
        <p>@Model.Movie.LongDescription</p>
        <p><b>Session times</b></p>
        @foreach (KeyValuePair<Cineplex, List<Session>> sessionByCineplex in Model.CineplexSessions) {
            <div style="padding:5px">
                <div style="float:left; width:220px">@sessionByCineplex.Key.Name</div>
                @foreach (Session session in sessionByCineplex.Value) {
                    <a asp-action="CreateBooking" asp-controller="Cart"
                        asp-route-movieId="@Model.Movie.MovieId"
                        asp-route-cineplexId="@sessionByCineplex.Key.CineplexId"
                        asp-route-sessionId="@session.SessionId"><input class="btn" type="button" value="@session.StartingTime" /></a>
                }
            </div>
        }
    </div>
    <div style="clear:both"></div>
</div>





