﻿@model MovieComingSoon
@{
    ViewData["Title"] = Model.Title;
}

<h2>@Html.DisplayFor(x => x.Title)</h2>

<a asp-action="Index" class="btn btn-default">Back to movies</a>
<hr />
<div style="height:100%">
    <div style="width:20%; height:100%; float:left">
        <img src="@Url.Content(Model.ImageUrl)" style="width:100%; padding-right:10px" />
    </div>
    <div style="width:80%; margin-left:20%">
        <p><b>@Model.Title</b></p>
        <p>@Model.LongDescription</p>
    </div>
    <div style="clear:both"></div>
</div>
