﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fdfdfd;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
}
.carousel-control.right {
  background-image: none;
  background-repeat: repeat-x;
}

.carousel-indicators {
  bottom: 1px;
}
.carousel-indicators li {
  background-color: maroon;
  border: 1px solid #330000;
}
.carousel-indicators .active {
  background-color: #fff;
}

.list-group-item {
    width: 50%
}

.session-table tr,td {
    padding: 5px;
}

.movie-div {
    height: 200px;
    clear: both;
    padding: 10px;
}

.movie-image-div {
    width: 20%;
    float: left;
}

.movie-image {
    max-width: 100%; 
    max-height: 100%; 
    min-width: 100%; 
    min-height: 100%;
}

.movie-desc {
    height: 45%;
    width: 100%;
    padding: 10px;
}

.movie-desc-div {
    float: left; 
    height: 100%; 
    width: 80%;
}

.movie-desc-div-short {
    float: left; 
    height: 100%; 
    width: 60%;
}

.movie-price-div {
    float: left; 
    height: 100%; 
    width: 20%;
    padding: 10px;
}

.checkbox-seat {
    
}

.api-client-form-section{
    padding: 10px;
}

.navbar-inverse {
    background-color: #330000;
    
}

.navbar-inverse .navbar-brand {
    color: whitesmoke;
}