﻿
<h2>Enquiry sent</h2>
<hr />
<p>Thank you! We have received your enquiry and will get back to you within one buisness day.</p>
<p>A copy of your enquiry has been sent to your email: @ViewData["Email"]</p>