@model WebTechAssignment2.Models.Enquiry

@{
        ViewData["Title"] = "Create";
}

<script>
    function validateEmail() {
        var regex = RegExp(/^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/);
        var input = $("#email").val();
        if (!regex.exec(input)) {
            $("#email-danger").text("Not a valid email");
            return false;
        }
        $("#email-danger").text("");
        return true;
    }
</script>

<h2>Events and Functions</h2>
<p>At Cineplex, we have a wide range of facilities and equipement suitable for hosting events and functions for your cooperation.</p>
<p>Send us an enquiry with the form below, and one of our representitives will be in contact within one buisness day.</p>

<form asp-action="Create" onsubmit="return validateEmail()">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input id="email" asp-for="Email" class="form-control" />
                <span id="email-danger" asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
