@model WebTechAssignment2.Models.Cineplex

@{
    ViewData["Title"] = Model.Name;
}

<h2>@Model.Name</h2>
<a asp-action="Index" class="btn btn-default">Back to cineplex</a>
<hr />
<div>
    <div style="float:left; padding:10px">
        <img src="@Url.Content(Model.ImageUrl)" style="width:500px;" />
    </div>
    <div style="float:left; padding:10px">
        <p><b>@Model.Name</b></p>
        <p>@Model.Location</p>
        <p>@Model.LongDescription</p>
        <div>
            <a asp-action="Index" asp-controller="Movies" asp-route-searchString="@Model.Location" class="btn btn-default">Currently showing movies</a>
        </div>
    </div>
</div>

<div style="clear:both"></div>
