@model IEnumerable<WebTechAssignment2.Models.Cineplex>

@{
    ViewData["Title"] = "Cineplex Movie Plaza Theatres";
}

<h2>Index</h2>

<div style="width:inherit;">
    @foreach (Cineplex cinema in Model) {
        <div style="float:left; width:33%; height:280px; padding:10px">
            <div style="width:90%;" >
                <a asp-action="Details" asp-route-id="@cinema.CineplexId"><img src="@cinema.ImageUrl" style="width:100%;" /></a>
            </div>
            <div>
                <b>@Html.DisplayFor(model => cinema.Name)</b>
            </div>
            <div>
                @Html.DisplayFor(model => cinema.Location)
            </div>
        </div>
    }
</div>
<div style="clear:both"></div>
